.container{
    height: 100%;
    width: 100%;
}

.bot{
    height: 85%;
}

.header{
    height: 15%;
    width: 100%;
    color: white;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field{
    display: flex;
    justify-content: flex-start;
}
.field input{
    margin-left: 10px;
    height: 30px;
    width: 300px;
    border: none;
}

.text{
    margin-top: 5px;
    width: 100%;
    height: 88%;
    resize: none;
    border: none;
}

.controls{
    height: 9%;
    display: flex;
    justify-content: flex-end;
}
.controls button{
    margin-right: 15px;
    height: 25px;
    width: 60px;
    border: none;
    background-color: inherit;
    color: rgb(31, 146, 247);
}

.b{
    height: 48%;
}
.reply{
    color: white;
    height: 85%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}