.page{
    width: 100%;
    height: 100%;
    background-color: rgb(15, 2, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 40%;
    background-color: white;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-top: 20px;
}

.in{
    width: 50%;
}

.form button{
    width: 110px;
    height: 35px;
    background-color: rgb(15, 2, 22);
    color: white;
    border: 1px solid;
    border-radius: 10px
}